@import "../../../scss/scss-assets/variables";
@import "../../../scss/scss-assets/mixins";

.js-item-category-switch {
  order: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.category-switch-block {
  //display: flex;
  //flex-direction: row;
  //flex-wrap: nowrap;
  //align-items: center;
  //justify-content: center;
  position: relative;
  z-index: 1000;
  width: 250px;
}

$category-switch-classname: 'toggle-categories-dropdown';

.toggle-categories-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 15px 0;
  @include custom-box-shadow(inset 0px 0px 0px 2px #ffffff);
  //border: 2px solid #ffffff inset;
  @include custom-border-radius(10px);
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  @include transition(background-color);
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__arrow-down {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    @include transform(rotate(0deg));
    @include transition(all 0.3s);
  }

  &--toggled {
    background-color: #ffffff;
    @include custom-box-shadow(inset 0px 0px 0px 2px dark-grey);
    color: #000000;

    .#{$category-switch-classname}__arrow-down {
      @include transform(rotate(180deg));

      & path {
        fill: #000000;
      }
    }

    &:hover {
      background-color: #ffffff;
    }
  }
}

.chosen-category-text {
  color: inherit;
  font-size: 110%;
  @include transition(color);
}

.categories-dropdown-list {
  position: absolute;
  top: 46px;
  width: 100%;
  @include custom-border-radius(0 0 10px 10px);
  @include reset-pad-marg;
  padding-top: 15px;
  background-color: #ffffff;
  list-style-type: none;
  overflow: hidden;

  &__item {
    padding: 15px 0;
    background-color: $dropdown-item-bg;
    text-align: center;
    cursor: pointer;

    &--category-chosen {
      font-size: 100%;
      color: $chosen-category-color;
    }

    &:hover {
      background-color: darken($dropdown-item-bg, 10%);
    }

    &:active {
      background-color: darken($dropdown-item-bg, 20%);
    }
  }
}
//
//.category-switch-wrapper {
//  position: relative;
//  width: 60px;
//  height: 31px;
//  border: 1px solid #ffffff;
//  @include custom-border-radius(40px);
//  margin: 0 15px;
//  cursor: pointer;
//
//  &__category-flag {
//    position: absolute;
//    top: 3px;
//    left: 3px;
//    width: 25px;
//    height: 25px;
//    @include custom-border-radius(50%);
//    @include transition(all 0.25s);
//    background-color: #ffffff;
//  }
//}
//
//.category-link {
//  color: rgba(255, 255, 255, 0.6);
//  @include transition(all 0.36s);
//  cursor: pointer;
//
//  &:hover {
//    color: rgba(255, 255, 255, 0.8);
//  }
//
//  &--category-chosen {
//    color: rgba(255, 255, 255, 1);
//  }
//
//}