@import "_variables";

@mixin reset-pad-marg() {
  padding: 0;
  margin: 0;
}

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}

@mixin custom-box-shadow($shadows...) {
  box-shadow: $shadows;
}

@mixin custom-border-radius($radius) {
  border-radius: $radius;
}
