@import '../../../scss-assets/variables';
@import '../../../scss-assets/mixins';

.card-body {
  position: absolute;
  z-index: 0;
  width: 250px;
  height: 250px;
  @include custom-border-radius(20px);
  background-color: rgba(255, 255, 255, 0.18);
  transition: transform 0.35s;

  &--card-expanded {
    width: 330px;
    height: auto;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: default;

    &:hover {
      transform: scale(1);
    }
  }
}