@import "../../../scss-assets/_variables";
@import "../../../scss-assets/_mixins";

.item-category {
  display: none;
  opacity: 0;
  @include transition(all 0.3s);

  &__slug {
    //display: block;
    //margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
  }

  &__vertical-separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 20px;
    height: inherit;

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 10px;
      background-color: black;
    }
  }

  &__category {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
  }

  &--card-expanded {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 330px;
    opacity: 1;
    @include transform( translateY(230px) );
  }
}