div.card
  div.card__item-id #{locals.id}
  div.card__item-preview-img: img(src=locals.image_preview alt="Превью товара")
  h3.card__title #{locals.title}
  span.card__price #{locals.price}
  div.card__view-more-info-btn Подробнее 
    
    
