@import "../../../../scss/scss-assets/variables";
@import "../../../../scss/scss-assets/mixins";

.add-to-cart-btn {
  display: none;
  box-sizing: border-box;
  width: 0;
  padding: 15px 20px;
  border-radius: 6px;
  background-color: $add-to-cart-btn-bg;
  text-align: center;
  color: #000000;
  cursor: pointer;
  @include transition(transform 0.4s width 0.3s background-color 0.3s);

  &--card-expanded {
    display: block;
    width: 280px;
    @include transform( translateX(25px) translateY(250px) );

    &:hover {
      background-color: lighten($add-to-cart-btn-bg, 15%);
    }
  }
}