@import "scss-assets/_variables";
@import "scss-assets/_mixins";

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  max-width: 330px;
  height: 250px;
}
