@import "scss-assets/_variables";
@import "scss-assets/_mixins";

.card-text-content {


  &__title {
    @include reset-pad-marg();
    margin-top: -10px;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }

  &__price {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 29px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    &::after {
      content: '₽';
      margin-left: 5px;
      font-size: 29px;
    }
  }
}
