@import "../../../../scss/scss-assets/variables";
@import "../../../../scss/scss-assets/mixins";

.item-title {
  position: relative;
  @include reset-pad-marg();
  width: 240px;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @include transition(all 0.3s);
  @include transform(translateX(20px));

  &--card-expanded {
    width: 330px;
    text-align: center;
    font-weight: 500;
    color: #000000;
    @include transform( translateY(240px) );
  }
}