@import "../../../scss-assets/_variables";
@import "../../../scss-assets/_mixins";

.item-title {
  position: relative;
  @include reset-pad-marg();
  //margin-top: -10px;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  @include transition(all 0.3s);
  @include transform(translateX(20px));

  &--card-expanded {
    width: 330px;
    text-align: center;
    font-weight: 500;
    color: #000000;
    @include transform( translateY(240px) );
  }
}