@import "../../../../scss/scss-assets/variables";
@import "../../../../scss/scss-assets/mixins";

$card-base-class: 'view-more-info-btn';

.view-more-info-btn {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__text-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;

    &--highlighted {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  &--card-expanded {

    & .view-more-info-btn__text-content {
      color: rgba(0, 0, 0, 0.7);
    }

    .arrow-down {
      transform: rotate(180deg);

      &__arrow-down-shape {
        fill: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.arrow-down {
  align-self: flex-end;
  width: 15px;
  height: 15px;
  margin-left: 8px;
  transition: all 0.3s;

  &__arrow-down-shape {
    fill: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
  }

  &--highlighted {

    & path {
      fill: rgba(255, 255, 255, 0.9);
    }
  }
}
