@import "../../scss-assets/_variables";
@import "../../scss-assets/_mixins";

.card {
  position: relative;
  cursor: pointer;
  height: 240px;
  transition: all 0.35s;

  &--card-expanded {
    height: 550px;
  }
}

.js-item-preview-img-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 330px;
}

.loading-icon {
  width: 25px;
  //height: 30px;
  @include animation(rotation, 0.5s, infinite, linear);

  &__shape {
    fill: #ffffff;
  }
}

@include keyframes(rotation) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}