@import "../../scss-assets/_variables";
@import "../../scss-assets/_mixins";

.js-product-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
}