@import "../../../../scss/scss-assets/variables";
@import "../../../../scss/scss-assets/mixins";

.item-id {
  display: none;
  opacity: 0;
  @include transition(all 0.35s);

  &--card-expanded {
    display: block;
    width: 330px;
    opacity: 1;
    text-align: center;
    font-size: 100%;
    color: #000000;
    @include transform( translateY(230px) );
  }
  //position: absolute;
  //top: -10px;
  //left: -10px;
  //z-index: 2;

  //&__content {
  //  display: block;
  //  width: 100%;
  //  font-size: 20px;
  //  text-align: center;
  //  color: #ffffff;
  //}
}