@import "../../scss-assets/_variables";
@import "../../scss-assets/_mixins";
@import "../../scss-assets/_functions";
@import "../../scss-assets/config";

.card {
  position: relative;
  cursor: pointer;
  height: 240px;
  transition: all 0.35s;

  @media screen and (max-width: map-deep-get($devices, 'mobile-l')) {
    margin-bottom: 20px;
  }

  &--card-expanded {
    height: 550px;

    @media screen and (max-width: map-deep-get($devices, 'mobile-s')) {
      width: 320px;
    }
  }
}

.js-item-preview-img-wrapper {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 330px;

  @media screen and (max-width: map-deep-get($devices, 'mobile-s')) {
    width: 320px;
  }
}

.item-preview-img {
  position: relative;

  &::after {
    content: 'Увеличить';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    opacity: 0;
    @include transition(opacity 0.3s);
  }

  &:hover {

    &::after {
      opacity: 1;
    }
  }
}

.loading-icon {
  width: 25px;
  //height: 30px;
  @include animation(rotation, 0.5s, infinite, linear);

  &__shape {
    fill: #ffffff;
  }
}

@include keyframes(rotation) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}